@using ticariotomasyon.Models.siniflar
@model List<satishareket>
@{
    ViewBag.Title = "siparislerim";
    Layout = "~/Views/Shared/_CarilayoutView.cshtml";
}
<br />
<h2>Sipariş Geçmişim</h2>
<br />
<table class="table table-bordered">
<tr>
    <th>Ürün Adı</th>
    <th>Fiyat</th>
    <th>Tarih</th>
</tr>
@foreach (var x in Model)
    {
    <tr>
        <td>@x.urun.urunAD</td>
        <td>@x.fiyat</td>
        <td>@Convert.ToDateTime(x.tarih).ToString("dd/MM/yyyy")</td>
    </tr>
    }
</table>
